/* line 6, C:/Users/542/Desktop/Pluralsight/HU/app/assets/stylesheets/home.scss */
.boxes .media {
  border: thin solid #ddd;
  padding: 1em;
  border-radius: 10px;
  background-color: #eee;
  position: relative;
}
/* line 12, C:/Users/542/Desktop/Pluralsight/HU/app/assets/stylesheets/home.scss */
.boxes .media .time {
  position: absolute;
  right: 10px;
  color: #666;
  top: 15px;
}
/* line 18, C:/Users/542/Desktop/Pluralsight/HU/app/assets/stylesheets/home.scss */
.boxes .media .view-answers {
  position: absolute;
  bottom: 15px;
  right: 10px;
}
/* line 23, C:/Users/542/Desktop/Pluralsight/HU/app/assets/stylesheets/home.scss */
.boxes .media:hover {
  cursor: pointer;
  background-color: #ddd;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


.questions-b {
	margin-bottom: 10px;
	padding: 3px 0 5px 0;
}

.answers-b {
	margin-bottom: 10px;
	padding: 3px 3px 5px 3px;
}

.new-answer-btn {
	margin: 5px 0 5px 0;
}

.user-email-wrapper {
	margin-right: 15px;
}

.nav-user-email {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 5px;
}
