<div class="modal fade" id="new-question-modal" tabindex="-1" role="dialog">
  	<div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">New Question</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <%= form_for :question, url: '/questions' do %>
	      <!-- <form action="/questions" method="POST"> -->
		      <div class="modal-body">
				  <div class="form-group">
				    <label for="inputEmail">Email address</label>
				    <input type="email" name="question[email]" class="form-control" value="<%= current_user_email %>" id="inputEmail" aria-describedby="emailHelp" placeholder="Email" required>
				  </div>
				  <div class="form-group">
				    <label for="inputQuestion">Question</label>
				    <textarea class="form-control" name="question[body]" id="inputQuestion" rows="3" placeholder="What would you like to know" required></textarea>
				  </div>
		      </div>

		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary">Submit</button>
		      </div>
	      <% end %>
	    </div>
  	</div>
</div>